.bookEntry {
    height: 20em;
    width: 65%;
    border: 3px solid black;
    margin: 1.5em 0;
    display: flex;
    flex-direction: row;
}

.bookImg {
    margin: auto 0;
    margin-left: 1em;
    height: 90%;
}

.bookTitle {
    margin-left: .5em;
}