.bookEntry {
    width: 65%;
    border: 3px solid rgb(102, 102, 102);
    border-radius: 15px;
    margin: 1.5em 0;
    display: flex;
    flex-direction: row;
}

.bookImg {
    margin: auto 0;
    margin-left: 1em;
    height: 90%;
    width: auto;
    padding: 1em 0;
}

.bookDesc {
    width: 95%;
}

.bookInfo {
    margin-left: 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.entryButton {
    margin-bottom: 1em;
    width: 100px;
}