.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  text-align: center;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.label {
  text-align: left;
  font-size: 2em;
  margin: 0;
}


.query {
  margin: 0 1em;
}

.button {
  height: 100%;
}